
<article id="about">
  <% if @message %>
    <h2><%= @message %></h2>
  <%# <% else %1> %>
  <%#   <h2>Hi, I'm Kurth.</h2> %>
  <% end %>

  <p><span id="greeting">Hi, I'm Kurth.</span> I am a software engineer based in Brooklyn, NY. I enjoy working with front and backend technologies (see my resume for specifics), but my real love is problem-solving. Code is just the tool, and I am always eager to find and use the right tool for the job. Before I jumped to development full time, I was a tenured philosophy professor, with significant experience in teaching, research and program administration. </p>

  <p>Most recently, I created <a href="https://crato-logging.github.io" target="_blank">Crato</a>, an open source framework for small applications to easily deploy centralized logging.</p>

  <div class="img-wrapper">
    <img src="images/crato_docker_deploy.gif">
    <p>Deploying Crato via Docker</p>
  </div>

  <p>Crato grew out of the realization that although applications and system services record their events to local log files, by default these log messages remain on local systems and are eventually either archived away never to be seen or permanently deleted. Without intervening then, developers and administrators lose valuable insight into the history, performance and security of their systems and applications.</p>

<p>Crato allows developers to quickly and easily deploy a centralized logging infrastructure to address this problem. Using Crato, each machine sends its logs to a central collection server, where developers can gain insight into their entire system by analyzing the consolidated logs across the entire deployed fleet of systems and applications. Besides log data consolidation and analysis (via InfluxDB), Crato also provides smart compression and archiving (via Amazon S3 and S3 Glacier). Crato makes configuring, deploying, and maintaining all these pieces easy and fast.</p>

<p>Read more about Crato in the project's <a href="https://crato-logging.github.io" target="_blank">case study</a></p>
</article>


