
<article id="landing">
  <% if @message %>
    <h2><%= @message %></h2>
  <% else %>
    <h2>Hi, I'm Kurth.</h2>
  <% end %>

  <p>Dolor fugiat dignissimos odit totam unde omnis sequi excepturi dicta expedita Hic consequatur nam pariatur itaque nobis. Doloribus veritatis accusamus consequuntur nostrum veritatis? Impedit rerum laboriosam saepe animi mollitia architecto.</p>

  <p>Lorem eius totam dolorum amet velit Corporis laudantium illum ad illo tempora dolore cumque. Aliquam sequi consequatur error quas quod aperiam eligendi deleniti. Ipsam optio eligendi sint qui officiis Minus quo recusandae modi molestias quod? Ea optio debitis similique ratione voluptatum sit? Repellat laborum ullam voluptatibus commodi unde Necessitatibus omnis error officiis animi veritatis? Fugit dolor dolorum quae consequuntur porro. Necessitatibus aspernatur quibusdam sed quis reprehenderit Doloribus suscipit quas expedita necessitatibus harum reprehenderit Recusandae deserunt voluptate ea explicabo necessitatibus sint? Quisquam veniam excepturi hic commodi iusto dolores voluptatum vel. Praesentium iure laudantium sint enim esse cum. Est laboriosam repudiandae blanditiis distinctio totam! Quia fugit vitae voluptatibus natus est? Dolorum laudantium impedit voluptates explicabo exercitationem Provident cupiditate dolorum ut cum nihil?</p>

  <p>Sit maiores autem dolore modi odio. Possimus sit eaque quos ullam architecto quae rem facilis Iste a amet sit molestias blanditiis Facere voluptatibus omnis magnam ad asperiores? Necessitatibus laudantium magnam ratione ipsam laudantium Non eos cupiditate non iure sed. Aut nesciunt voluptates corrupti exercitationem expedita Exercitationem facilis magni quaerat aliquid a Asperiores saepe cupiditate ea officiis distinctio. Laboriosam itaque debitis voluptates sequi optio Beatae commodi eveniet cupiditate placeat expedita iste. Ipsum debitis odit dolores praesentium.</p>
  <p>Adipisicing quae dolore nemo voluptatem quam. Nesciunt quis nihil similique rem ipsam Totam asperiores expedita repellat officiis fugiat soluta? Quibusdam molestias pariatur aperiam quod hic! Earum veritatis iure possimus quae perferendis voluptatem, vero provident obcaecati ipsa sed Rem quod iste praesentium at fugiat. Repellendus temporibus cum alias accusantium minima Aliquid nemo impedit nihil et aut natus nesciunt. Ipsum enim saepe eligendi aperiam delectus iure. Quisquam ipsa nisi quo dolorem amet nam eaque? Adipisci impedit labore ducimus laborum quo! Voluptatum provident laborum impedit dolore ipsam accusamus, dolorem. Voluptatibus exercitationem recusandae placeat praesentium id expedita aut Architecto inventore et repellat modi laboriosam</p>
</article>


