<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/blog.css">
    <title><%= @title %></title>
  </head>

  <body>
    <main id="landing">
      <h1><a href="/">kurth o'connor</a></h1>
      <nav>
        <ul>
          <li class="current"><a href="/">home</a></li>
          <li><a href="/about" active>about</a></li>
          <li><a href="/projects">projects</a></li>
          <li><a href="/blog">blog</a></li>
        </ul>
      </nav>
    </main>
  </body>
</html>
