<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" type="text/css"  href="/stylesheets/landing.css">
    <title><%= @title %></title>
  </head>

  <body>
    <div class="landing">
      <header>
        <h1><a href="/">kurth o'connor</a></h1>
      </header>
      <nav>
        <a href="/" class="current">home</a>
        <a href="/about" active>about</a>
        <a href="/projects">projects</a>
        <a href="/blog">blog</a>
      </nav>
    </div>
  </body>
</html>
