<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:400&subset=latin" as="font">
    <link rel="stylesheet" type="text/css"  href="/stylesheets/landing.css">
    <script type="text/javascript" src="/javascripts/navCues.js"></script>
    <title><%= @title %></title>
  </head>

  <body>
    <div class="landing">
      <header>
        <h1>
          <span><%= @title.split.first %></span>
          <span><%= @title.split.last %></span>
        </h1>
      </header>
      <nav>
        <a href="/" class="current">home</a>
        <a href="/about" active>about</a>
        <a href="/projects">projects</a>
        <a href="/resume" target="_blank" >resume</a>
        <%# <a href="/blog">blog</a> %>
      </nav>
    </div>
  </body>
</html>
