<section class="index" >
  <h2>Projects</h2>
  <% @projects.each do |project| %>
    <ul>
      <li><a href=<%= project.url %> target="_blank"><%= project.name %></a></li>
      <li><p><%= project.description %></p></li>
    </ul>
  <% end %>
</section>
