body {
  font: normal 18px "Roboto", sans-serif;
  color: #0f0f0f;
  letter-spacing: 1.2px;
  line-height: 1.6;
  position: relative; 
}

body, header, main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav, footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

header, main, footer {
  max-width: 750px;
  padding: 50px;
}

main {
  padding-top: 200px;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #fff;
}

h1, h2, h3 {
  font-size: 26px;
  text-align: center;
}

h2, h3 {
  padding: 35px 0;
}

h1 {
  padding-bottom: 40px;
}

li {
  margin: 0 50px;
  padding: 0 5px;
}

nav a:hover,
nav a.current,
footer a:hover {
  border-bottom: 1px solid black;
}

p {
  padding: 25px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* restyle project and blog indices */
/* render code blocks appropriately*/
/* write code (backend? frontend?) to add/remove `current` class */
/* make favicon from gravitar */
