@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin');

:root {
  --accent-rgb: 178,39,77;
  --low-opacity: 0.5;
  --high-opacity: 1.0;
  /* --background-rgba: 252,247,247,1.0; */
  --background-rgba: 235,247,247,1.0;
}

body {
  position: relative;
  font: 400 18px "Roboto", sans-serif;
  color: #0f0f0f;
  background-color: rgb(237,225,234);
  letter-spacing: 1.2px;
  line-height: 1.6;
}

body,
header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(var(--background-rgba, grey));
}

header {
  top: 3px;
  width: 100%;
  padding-top: 50px;
}

main,
section.index {
  max-width: 750px;
}

main {
  margin: 50px;
}

div.border {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 3px;
  background-color: rgba(var(--accent-rgb, red), var(--high-opacity));
}

footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  padding: 40px 0 40px;
  margin: 0 50px 0;
  position: fixed;
  bottom: 0px;
  background-color: rgba(var(--background-rgba, grey));
}

h1,
h2 {
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 37px;
  letter-spacing: 2.4px;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

h2.divider {
  font-weight: 300;
  font-style: italic;
}

ul {
  margin-bottom: 40px;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer li, {
  flex: 1;
  font-size: 21px;
  text-align: center;
  margin: 0 10px;
}

footer a {
  margin: 0 50px;
}

a span {
  border-bottom: 1px solid rgba(0,0,0, 0);
}

a span.current {
  border-bottom: 1px solid rgba(var(--accent-rgb, red), var(--high-opacity));
}

a span.over {
  border-bottom: 1px solid rgba(var(--accent-rgb, red), var(--low-opacity));
}

p {
  margin: 25px 0;
}

#greeting {
  font-size: 1.5rem;
}

.index h2:not(.divider) {
  text-align: left;
}

.index h2:first-of-type {
  margin-top: 25px;

}

.index ul {
  margin-bottom: 100px;
  border-left: 2px solid rgba(var(--accent-rgb, red), var(--low-opacity));
  padding-left: 1em;
}

.index ul:hover {
  border-left: 2px solid rgba(var(--accent-rgb, red), var(--high-opacity));
}

.index p > a {
  font-weight: inherit;
  border: none;
}

span.more {
  font-weight: 500;
  margin-left: 10px;
  color: rgba(var(--accent-rgb, red), var(--high-opacity));
}

#about a {
  color: rgba(var(--accent-rgb, red), var(--high-opacity));
}

#about img {
  max-width: 70%;
  margin: 0 15%;
}

img.topic-img-lg {
  max-width: 100%;
  margin: 20px auto;
}

img.topic-img-sm {
  max-width: 70%;
  margin: 20px 15%;
}

#avatar {
  max-width: 18%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.img-wrapper {
  margin-top: 50px;
} 

.img-wrapper p {
  text-align: center;
  font-size: .65rem;
  margin: 0;
}

p.license {
  font-size: .65rem;
  margin: 0 0 28px;
}

@media (min-width: 1400px) {
  #avatar {
    max-width: 10%;
  }
}

@media (min-width: 1000px) {
  #avatar {
    max-width: 15%;
  }
}

@media (max-width: 700px) {
  #avatar {
    max-width: 25%;
  }

  header h1 {
    font-size: 28px;
    font-weight: 500;
  }
}

@media (max-width: 450px) {
  header {
    padding-top: 28px;
  }

  #avatar {
    display: none;
  }
}

@media (max-width: 299px) {
  footer {
    flex-flow: column nowrap;
    align-items: center;
  }
}
